.bannerWrapper {
    padding-top: 92px;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 依排列所需欄為繪製，非依內容數 */
    grid-template-rows: repeat(2, 250px);
    grid-gap: 0.5rem;
    grid-template-areas:
      "main main main main"
      "left left right right";
}

@media screen and (min-width: 768px) {
  .bannerWrapper{
    grid-template-areas: 
    "main main left left"
    "main main right right";
  }
  
}