@import '../styles/main';

.recycleWrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 1.5rem;
    width: 100%;
    margin-bottom: 1rem;
}
.recycleTitle{
    font-size: 2rem;
    color: $dark-main-color;
    margin-bottom: 1rem;
    &::after{
        content: ' 滑鼠移到圖片看看吧!';
        font-size: 1.2rem;
        color: black;
    }
}

.action{
    margin-left: 85%;
    font-size: 1.5rem;
    width: 120px;
}

@media screen and (min-width: 786px) {
    .action{
        margin-left: 90%;
        
    }
}