@import '../styles/main';

.recycleWrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    grid-gap: 1.5rem;
    width: 100%;
    margin-bottom: 1rem;
}
.recycleTitle{
    font-size: 2rem;
    color: $dark-main-color;
    margin-bottom: 1rem;
    &::after{
        content: ' 滑鼠移到圖片看看吧!';
        font-size: 1.2rem;
        color: black;
    }
}
.container {
    display: flex;
    flex-direction: column;
}
.action{
    margin-left: auto;
    font-size: 1.5rem;
    width: 120px;
}