@import '../styles/main.scss';
.card {
    width: 100%;
    height: 100%;
    overflow: hidden; /*若圖片太大則隱藏*/
    position: relative;
    -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
    background: #a9a9a9;

}

.cardTitle{
    font-size: 1.5rem;
    color: $dark-main-color;
    text-align: center;
    padding: 0.5rem;
    background-color: #fff;
}

.cardImg {
    width: 100%;
    height: 240px; /*長超過240px的圖片會被壓縮*/
    display: block; /*設定圖片為block element*/
    object-fit: cover;
    opacity: 1;
    transition: opacity 0.2s ease-out;
    position: relative;

    &:hover ~.cardText {
        opacity: 1;
    }

    &:hover {
        opacity: 0.4;
    }
}

.cardText {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    opacity: 0; /*沒hover前看不到*/
    transition: opacity 0.3s ease-out;
}


